<!--Created by wesleyou on 5/6/22-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spearemint</title>
</head>
<body>
<h1>Get Lines from The Merchant of Venice</h1>
 <form method="post" action="/get_lines">
      <input type="number" name="actNum" placeholder="Act Number">
      <input type="number" name="sceneNum" placeholder="Scene Number">
      <input type="number" name="startLine" placeholder="Start Line">
      <input type="number" name="endLine" placeholder="End Line">
      <input type="submit">
 </form>

</body>
</html>